@font-face {
  font-family: 'Devil Breeze Bold';
  src: url('../Devil Breeze Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes BackgroundColour {
  0%   { background-color: rgb(230, 255, 255); }
  50%  { background-color: rgb(230, 255, 220); }
  100% { background-color: rgb(230, 255, 255); }
}

body {
  animation: BackgroundColour 15s infinite;
}

h1 {
  font-family: 'Devil Breeze Bold';
  font-size: 40px;
}

img {
  border-radius: 8px;
  width: 275px;
  height: 275px;
}

.navBar {
  width: 870px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.boxes {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.box {
  font-size: 14px;
  font-family: verdana;
  width: 250px;
  height: 450px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.bigBox {
  font-size: 14px;
  font-family: verdana;
  width: 870px;
  height: 450px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.images {
  display: flex;
  gap: 20px;
}

.imageBox {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.imageBox h6 {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}


.h6s {
  display: flex;
  font-size: 25px;
  gap: 20px;
}
.smallerText {
  font-size: 11px;
}