@font-face {
  font-family: 'Devil Breeze Bold';
  src: url('../Devil Breeze Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes BackgroundColour {
  0%   { background-color: rgb(230, 255, 255); }
  50%  { background-color: rgb(230, 255, 220); }
  100% { background-color: rgb(230, 255, 255); }
}

body {
  animation: BackgroundColour 15s infinite;
}

h1 {
  font-family: 'Devil Breeze Bold';
  font-size: 40px;
}

.boxes {
  display: flex;
  gap: 20px;
}

.box {
  font-size: 14px;
  font-family: verdana;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.smallerText {
  font-size: 11px;
}